[user]
	name = {{ .git.name }}
	email = {{ .git.email }}
[core]
	ignorecase = false
	editor = vim
	quotepath = false
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	features = zebra-dark
	dark = true
	side-by-side = true
	line-numbers = false
	file-decoration-style = brightblue ul
	hyperlinks = true
	hyperlinks-file-link-format = "lazygit-edit://{path}:{line}"
	merge-conflict-begin-symbol = ""
	merge-conflict-end-symbol = ""
	merge-conflict-ours-diff-header-style = omit
	merge-conflict-theirs-diff-header-style = omit
	file-style = brightblue bold
	hunk-header-style = file line-number syntax
	navigate = true
[merge]
	conflictstyle = zdiff3
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
{{- if .git.safeDirectory }}
[safe]
	directory = {{ .git.safeDirectory }}
{{- end }}
[rerere]
	enabled = true

[includeIf "gitdir:~/.config/nvim"]
	path = ./gitconfig-personal
[init]
	defaultBranch = main
[fetch]
	prune = true
[include]
	path = ~/.config/delta/themes.gitconfig
